<div class="container-options">
    <div class="div-card">
        <mat-card class="example-card">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <mat-card-title>Smart Health</mat-card-title>
                <mat-card-subtitle>Powered by IRIS&reg; and FHIR&reg;</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>
                Welcome to Smart Health! An application based on SMART On FHIR and InterSystems IRIS.
                </p>
            </mat-card-content>
            <mat-card-actions class="action-card">
                <button mat-raised-button (click)="auth.loginWithRedirect()">LOGIN</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>